<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/floating-icons.js' | relative_url }}"></script>
<script src="{{ '/assets/js/sound-effects.js' | relative_url }}"></script>
<script src="{{ '/assets/js/piano-keyboard.js' | relative_url }}"></script>
<script src="{{ '/assets/js/mouse-particles.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scroll-progress.js' | relative_url }}"></script>
<script src="{{ '/assets/js/click-ripple.js' | relative_url }}"></script>
<script src="{{ '/assets/js/typewriter-effect.js' | relative_url }}"></script>
<script src="{{ '/assets/js/3d-card-tilt.js' | relative_url }}"></script>
<script src="{{ '/assets/js/daily-quote.js' | relative_url }}"></script>
<script src="{{ '/assets/js/music-generator.js' | relative_url }}"></script>
<script src="{{ '/assets/js/background-music.js' | relative_url }}"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
